.baby-blue {
	background-color: #89cff0;
	padding: 7px 10px;
	border-radius: 30px;
}

.baby-blue:hover {
	background-color: #89afff;
}

.light-red {
	background-color: #FF6666;
	padding: 7px 10px;
	border-radius: 30px;
}

.light-red:hover {
	background-color: #CF6666;
}

.button:hover {
	cursor: pointer;
}

#back-button {
	display: inline-block;
	font-size: 1.2rem;
	margin-top: 100px;
	margin-bottom: 10px;
}

#submit-entity {
	margin: 10px 0;
	display: block;
	font-size: 1.2rem;
}

.input-field {
	width: 70%;
	border-radius: 30px;
	padding: 8px 10px;
	overflow: hidden;
	transition: 0.15s ease-out;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.input-field:focus {
	width: 80%;
}

.error-message {
	margin: 10px 0;
	padding: 8px 10px;
	display: inline-block;
	clear: both;
	border-radius: 30px;
	background-color: #FF6666;
}

.actions-cell {
	min-width: 100%;
}

.select-css {
  display: block;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
 
}

/* Hover style */
.select-css:hover {
  border-color: #888;
}
/* Focus style */
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight:normal;
}


@media screen and (min-width: 980px) {
	.input-field {
		width: 40%;
	}
	
	.input-field:focus {
		width: 50%;
	}
}